<div id="content" class="col-md-12 center-block">
  <div class="container">

	<div class="row">
		<div class="col-xs-3 col-xs-offset-3">
			<%= image_tag gravatar_url(@user.email, 150), class:"round-img", align:"right" %>
			</div>
			<h1><b><%= @user.name %></b></h1>
			Usuário desde <%= @user.created_at %>
		</div>
	</div>
	<br>



		<div class="row">
			<div class= "col-md-6 col-xs-12">
				<div class="panel panel-default">
				<h2>Comentários Realizados</h2>
					<div class="panel-body">
					<% @comments = Comment.all.joins(:video).where(user_id: current_user.id) %>
						<% @comments.each do |comment| %>
							<p><b>Vídeo:</b> <%= link_to comment.video.title, comment %></p>
							<p><b>Comentário:</b> <%= comment.body %></p>
							<p><small>Enviado <strong> <%= time_ago_in_words(comment.created_at) %> </strong> por <%= comment.user.email %></small></p>
							<br>
							
					<% end %> 

					</div><!--panel-body-->
				</div><!--panel panel-default-->
			</div><!--col-md-6-->

			<div class= "col-md-6 col-xs-12">
				<div class="panel panel-default">
				<h2>Vídeos Enviados </h2>
					<div class="panel-body">
					<% videos = Video.where(user_id: current_user.id) %>
						<% videos.each do |video| %>
							<p><%= link_to video.title, video %></p>
					<% end %> 

					</div><!--panel-body-->
				</div><!--panel panel-default-->
			</div><!--col-md-6-->
		</div><!--row-->
	</div>
</div>
