<h1><%= @user.email %></h1>


<div class= "col-md-6">
	<div class="panel panel-default">
	<div class="panel-heading"> Comentários Realizados </div>
		<div class="panel-body">
		<% @comments = Comment.all.joins(:video).where(user_id: current_user.id) %>
			<% @comments.each do |comment| %>
				<p><%= comment.video.title %></p>
				<p><%= comment.body %></p>
				<p><%= comment.user.email %></p>
		<% end %> 

		</div><!--panel-body-->
	</div><!--panel panel-default-->
</div><!--col-md-6-->

<div class= "col-md-6">
	<div class="panel panel-default">
	<div class="panel-heading"> Vídeos Enviados </div>
		<div class="panel-body">
		<% videos = Video.where(user_id: current_user.id) %>
			<% videos.each do |video| %>
				<p><%= video.title %></p>
		<% end %> 

		</div><!--panel-body-->
	</div><!--panel panel-default-->
</div><!--col-md-6>