<p id="notice"><%= notice %></p>
<div class="container"> 
    <div class="row">
        <div class="col-sm-6 col-xs-12 box panel panel-default" id="showimage">
            <%= link_to image_tag("https://img.youtube.com/vi/#{@video.uid}/maxresdefault.jpg", alt: @video.title, class: 'imgg'), 
            "https://www.youtube.com/watch?v=#{@video.uid}", target: '_blank' %>
        </div>        

        <div class="col-sm-6 col-xs-12 box panel panel-default" id="showinfo">
                <p><strong><h3><%= @video.title %></h3></strong></p>
                <p>por:<%= @video.channel %> </p>
                    <p><%= link_to like_video_path(@video), method: :put, class: "btn upvote" do %>
                    <span class="glyphicon glyphicon-menu-up"></span><%= @video.get_upvotes.size %>
                    <% end %></p>
            <hr>
            <div class="showdescription"><%= @video.description.first(300) %></div>
            
            <div class="row"> 
            <div class="showstats">
                    <h4 class="col-md-4 statsinfo">Views
                        <p><%= @video.views %></p></h4>
                    <h4 class="col-md-4 statsinfo">Likes
                        <p><%= @video.likes %></ṕ></h4>
                    <h4 class="col-md-4 statsinfo">Dislikes
                        <p><%= @video.dislikes %></p></p>
                </div>
            </div>
               
        </div>
    </div>
    <div class="row" id="comments">
        <div class="panel box panel-default" id="comments2">
            <div class="container">
                <p class="comments_title">
                    <%= @video.comments.count %> Comentários
                </p>
                        <%= render :partial => @video.comments %></div>
                        DEIXE SEU COMENTÁRIO!! <%= simple_form_for [@video, Comment.new]  do |f| %>
                        <div class="field">
                        <%= f.text_area :body, class: "form-control" %>
                        </div>   
            <%= f.submit "Enviar Comentário", class: "btn btn-primary btn-sm" %>
            <% end %>    
        </div>
        <%= link_to 'Editar', edit_video_path(@video) %> |
        <%= link_to 'Voltar', videos_path %>
    </div>
    </div>
</div>
