<p id="notice"><%= notice %></p>
<div class="container"> 
<div class="row">
<div class="col-sm-6 col-xs-12 box panel panel-default">
<%= link_to image_tag("https://img.youtube.com/vi/#{@video.uid}/mqdefault.jpg", alt: @video.title, class: 'img-rounded'),
                      "https://www.youtube.com/watch?v=#{@video.uid}", target: '_blank' %>
<p><strong><h3>Title:<%= @video.title %></h3></strong>
</div>
</p>

<div class="col-sm-5 col-sm-offset-1 col-xs-12 box panel panel-default">
<p><strong> Visualizações: </strong>
    <%= @video.views %></p>
</div>
</div>
<div class="row">
<%= link_to 'Editar', edit_video_path(@video) %> |
<%= link_to 'Voltar', videos_path %>
</div>
</div>