<p id="notice"><%= notice %></p>
<div class="row2">           
    <div class="col-sm-7 col-xs-12" id="showimage">
                <%= link_to image_tag("https://img.youtube.com/vi/#{@video.uid}/maxresdefault.jpg", alt: @video.title, class: 'imgyt'), 
                "https://www.youtube.com/watch?v=#{@video.uid}", target: '_blank' %>
    </div><!--showimage--> 
    <div class="col-sm-5 col-xs-12 box panel panel-default" id="showinfo">
        <p><strong><h3><%= @video.title %></h3></strong></p>
        <p><b>por: </b><%= link_to @video.channel, "https://www.youtube.com/channel/#{@video.channelid}" %></p>
        <p><%= link_to like_video_path(@video), method: :put, class: "btn upvoteindex" do %>
        + <%= @video.get_upvotes.size %>
        <% end %></p>
        <hr>
        <div class="showdescription"><%= @video.description.first(300) %></div>
        <div class="row"> 
            <div class="showstats">
                <h4 class="col-md-4 statsinfo">Views
                <p><%= @video.views %></p></h4>
                <h4 class="col-md-4 statsinfo">Likes
                <p><%= @video.likes %></p></h4>
                <h4 class="col-md-4 statsinfo">Dislikes
                <p><%= @video.dislikes %></p></p>
            </div>
        </div>      
    </div>
</div>
<br>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="panel box panel-default" id="comments2">
                <div class="container">
                    <p class="comments_title">
                        <%= @video.comments.count %> Comentários
                    </p>
                    <%= render :partial => @video.comments %>
                </div><!--container-->
            </div><!--panel-->
        </div><!--col-->
        <div class="col-md-4 col-xs-12">
            <div class="panel box panel-default" id="comments3">
                <div class="container">
                    <h3>DEIXE SEU COMENTÁRIO!!</h3> <%= simple_form_for [@video, Comment.new]  do |f| %>
                    <div class="field">
                    <%= f.text_area :body, class:"clearfix" %>
                    </div>   
                    <%= f.submit "Enviar Comentário", class: "btn btn-primary btn-lg" %>
                    <% end %>
                    <br>
                    <br>
                    <br>
                    <br>
                </div><!--container-->
            </div><!--panel-->
        </div><!--col-->
    </div><!--row-->
        <br>
        <%= link_to 'Editar', edit_video_path(@video) %> |
        <%= link_to 'Voltar', videos_path %>
    </div><!--comments2-->
</div>
