<!DOCTYPE html>
<html>
<head>
  <title>Minerank - Encontre e rankeie tudo sobre minecraft!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
</head>
<body>
	<header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
          <div id="logo" class="navbar-brand"><%= link_to "Mine", root_path, class: "titlemine" %> <%= link_to "RANK", root_path, class:"titlerank" %></div>
        	<% if user_signed_in? -%>
						<ul class="nav navbar-nav">
							<li class="dropdown">
	          					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Minha Conta <span class="caret"></span></a>
	          					<ul class="dropdown-menu">
	          						<li><%= link_to 'Enviar Video', new_video_path %></li>
						            <li><%= link_to 'Configurações', edit_user_registration_path %></li>
						            <li><%= link_to 'Meu Perfil', users_show_path %></li></li>
						            <li role="separator" class="divider"></li>
						            <li><%= link_to 'Deslogar', destroy_user_session_path, :method => :delete %> </a></li>
						        </ul>
	        				</li>
	        			</ul>
						<ul class="nav navbar-nav pull-right">
                            <li><%= link_to '  Enviar Video', new_video_path, class: "submitvideo" %></li> 
						</ul>
					<% else -%>
						<ul class="nav navbar-nav pull-right">
							<li><%= link_to 'Criar Conta', new_user_registration_path %></li>
							<li><%= link_to 'Fazer Login', new_user_session_path %></li>
						</ul>
					<% end -%>
      </div><!--container-->
    </div><!--navbar-inner-->
  </header>
  	<div class="container" id="alertas"><% flash.each do |name, msg| %> <%= content_tag(:div, msg, class: "alert alert-info") %> 
  	<% end %></div>
	<%= yield %>
	</body>
	</body>
</div>
</html>