<!DOCTYPE html>
<html>
<head>
  <title>Minerank - Encontre e rankeie tudo sobre minecraft!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
          <div id="logo" class="navbar-brand"><%= link_to "MineRANK", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
        	<% if user_signed_in? -%>
						<ul class="nav navbar-nav navbar-right">
                            <li class="navbarfont"><%= link_to 'Enviar Video', new_video_path %></li>
							<li class="navbarfont"><%= link_to 'Configurações', edit_user_registration_path %></li>
							<li class="navbarfont"><%= link_to 'Meu Perfil', users_show_path %></li><%= image_tag gravatar_url(current_user.email, 50), class:"round-img" %>
                            <li class="navbarfont"><%= link_to 'Deslogar', destroy_user_session_path, :method => :delete %></li>
						</ul>
					<% else -%>
						<ul class="nav navbar-nav pull-right">
							<li><%= link_to 'Criar Conta', new_user_registration_path %></li>
							<li><%= link_to 'Fazer Login', new_user_session_path %></li>
						</ul>
					<% end -%>
        </nav>
      </div>
    </div>
  </header>

	<div id="main_content" class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
			<div id="content" class="col-md-12 center-block">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>